.curso-container {
    border: 3px solid #b1b1b1ff;
    border-radius: 20px;
    width: 22rem;
    height: 19rem;
}

.curso-title {
    text-transform: uppercase;
    color: #555555;
    text-align: center;
    line-height: 16.3rem;
    font-size: 1.5rem;
}

.curso-steps {
    display: inline-block;
    margin: 0 2rem;
}

.curso-coins {
    display: inline-block;
}

.curso-coins .img-coins {
    width: 30px;
}

.curso-coins .img-coins:hover {
    cursor: pointer;
}

.loading-bar-full {
    width: 100px;
    border-radius: 12px;
    height: 16px;
    display: inline-block;
    background-color: #fea515ff
}